::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
  background-color: var(--dark);
}

:root {
  --yellow: #ffec00;
  --gray: #5a5a5a;
  --gray2: #4e4e4e;
  --dark: #0e0e0e;
  --blue: #4e8dff;
}

body,
html {
  height: 100%;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.background-dark,
body {
  background-color: #000;
}

a {
  color: var(--blue);
}

a:focus,
a:hover {
  color: var(--blue);
  text-decoration: underline;
  outline: 0;
}

.video-details h2 {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .video-details h2 {
    font-size: 18px;
  }
}

.dropdown-menu {
  padding: 10px 0;
  font-size: 13px;
  min-width: 180px;
}

.dropdown-menu > li > a {
  padding: 6px 20px;
  color: #2e3436;
}

.navbar {
  border-radius: 0;
  min-height: 50px;
  margin-bottom: 0;
}

.navbar-header {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .navbar-toggle {
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86px;
  }
}

.navbar-toggle span {
  color: #fff;
  text-transform: uppercase;
}

.video-container .video-details a {
  text-decoration: none;
}

.video-list .video a {
  padding: 12px 10px;
  color: #dbdce5;
  display: block;
  border-left: 4px solid transparent;
}

.v-select > .dropdown-menu a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: var(--gray2);
  font-weight: 600;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (max-width: 992px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
    padding: 10px 6px;
  }
}

.navbar-form {
  padding-right: 0;
}

@media screen and (max-width: 992px) {
  .navbar-form {
    margin: 10px 0;
    padding: 0;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .mobile-navbar-portrait {
    align-items: center;
    display: flex;
  }
}

@media screen and (min-width: 993px) {
  .mobile-navbar-portrait {
    display: inline-flex;
  }
}

.navbar-form .form-control {
  border: 0;
  color: #ccc;
  padding-left: 34px !important;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #555;
}

.form-control-feedback {
  color: #565656;
  right: initial;
  top: 11px;
}

.video-list {
  margin-bottom: 0;
}

.video-list li.video:last-child {
  border-bottom: 0;
}

.video-list .video a:hover {
  cursor: pointer;
  border-color: #000;
}

.video-list .video .active {
  background-color: #000;
  border-left: 4px solid var(--yellow);
}

.video-list .video .active:hover {
  border-color: var(--yellow);
}

.video-list .video a::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.video-list .video .video-thumbnail-image {
  float: left;
  min-height: 40px;
  margin-right: 15px;
  position: relative;
}

.video-list .video-thumbnail-image .video-image {
  max-width: 70px;
}

.video-list .video .video-title {
  float: left;
  width: 230px;
  padding: 0;
}

.video-list .video .video-title h4 {
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  color: white;
}

/* .video-list .video .active .video-title h4 {
} */

.video-list .video .video-thumbnail-image .video-watched {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2px 4px;
  background-color: #1d2122;
  font-size: 8px;
}

.video-list .video .video-title.watched h4 {
  color: var(--gray);
}

.navbar-inverse {
  background-color: var(--dark);
  border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.navbar-brand {
  display: flex;
  padding: 0;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    align-self: flex-start;
  }
}

.walnut-logo {
  width: 15px;
}

.navbar-nav li {
  cursor: pointer;
  text-transform: uppercase;
}

.header-container {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 992px) {
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  background-color: #000;
  display: table;
  padding: 0;
  width: 100%;
}

.sidebar {
  display: table-cell;
  width: 360px;
}

.main-content {
  background: #000;
  display: table-cell;
  float: right;
  width: 100%;
}

.video-container {
  padding: 15px 30px 0;

  /* .flex-column */
  -ms-flex-direction: column !important;
  flex-direction: column !important;

  /* row */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /* .justify-content-between */
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

@media screen and (max-width: 992px) {
  .video-container {
    padding: 5px 10px 0;
  }
}

.video-container .video-details {
  padding: 20px 0 0;

  /* col */
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .video-container .video-details {
    margin: 40px 10px;
  }
}

.video-container .video-controls {
  padding: 20px 0 40px;
}

.video-container .video-details .share-icon,
.video-container .video-details .up-vote,
.video-container .video-details .down-vote {
  cursor: pointer;
  fill: #fff;
  width: 20px;
}

.video-container .video-controls .next-video,
.video-container .video-controls .prev-video {
  cursor: pointer;
  fill: #fff;
  width: 30px;
}

.video-container .video-controls .next-video.disabled,
.video-container .video-controls .prev-video.disabled {
  fill: var(--gray);
}

.video-container .video-details .up-vote.active,
.video-container .video-details .down-vote.active {
  fill: var(--yellow);
}

.video-container .video-details .down-vote {
  transform: rotate(180deg);
}

.video-container .video-controls .prev-video {
  transform: rotate(-90deg);
}

.video-container .video-controls .next-video {
  transform: rotate(90deg);
}

details .up-vote-num {
  color: white;
  padding-right: 10px;
}

.video-container .embed-container {
  position: relative;
  padding-bottom: 47%;
  height: 0;
  /* overflow: hidden; */

  /* .col */
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pre-scrollable {
  height: 100vh;
  max-height: none;
  overflow-y: scroll;
}

.loading {
  height: 30px;
}

.loadingMessage {
  /* FIXME: this hack so the navbar doesn't jump when hiding/showing the videos and the loading spinner */
  height: 100vh;
  text-align: center;
}

.video-comments {
  padding: 40px 0 0;
  clear: both;
}

[v-cloak] {
  display: none;
}

.card {
  background-color: #fff;
  border: 0;
  height: 100vh;
  text-align: center;
}

.buttons {
  background-size: cover;
  border: none;
  margin: 20px;
  width: 200px;
}

.card-img-top {
  border-radius: 0;
  margin: 0 auto;
  width: 150px;
}

@media (max-width: 992px) {
  .card-img-top {
    width: 100px;
  }
}

.card-title {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

@media (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 992px) and (orientation: portrait) {
  .hide-mobile-portrait {
    display: none;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .hide-mobile-landscape {
    display: none;
  }
}

@media (min-width: 993px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    display: flex;
  }
}

.v-select {
  height: 35px;
}

.v-select > .dropdown-menu {
  padding: 0;
  background-color: black;
}

.v-select.open > .dropdown-menu .divider {
  display: none;
}

.v-select > .dropdown-menu::-webkit-scrollbar {
  width: 0;
}

.v-select > .dropdown-menu > li.highlight {
  background-color: var(--gray-2);
}

.v-select .selected-tag {
  background-color: transparent !important;
  border: 0 !important;
  color: white !important;
  overflow: hidden;
  padding-left: 34px !important;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.v-select .dropdown-toggle {
  border: 0 !important;
}

.v-select .open-indicator {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .v-select input[type='search'] {
    min-width: 90px;
    max-width: 140px !important;
  }
}

.modal-dialog {
  margin: 40% auto;
  width: 455px;
}

.modal-content {
  background-color: #272727;
  border: 1px solid rgba(115, 115, 115, 0.2);
}

.modal-body textarea {
  overflow: hidden;
  resize: none;
  width: 360px !important;
}

.btn-primary {
  color: #212;
  background-color: var(--yellow);
  border-color: #c9bc00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #212;
  background-color: #f0e000;
  border-color: #c9bc00;
  outline: none;
}

.btn-primary:active,
.btn-primary.active {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
  background-color: var(--yellow);
  border-color: #c9bc00;
}

/* https://unpkg.com/tippy.js@4/themes/light.css */
.tippy-tooltip.light-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}

.tippy-tooltip.light-theme[x-placement^='top'] .tippy-arrow {
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tippy-tooltip.light-theme[x-placement^='bottom'] .tippy-arrow {
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tippy-tooltip.light-theme[x-placement^='left'] .tippy-arrow {
  border-left: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.tippy-tooltip.light-theme[x-placement^='right'] .tippy-arrow {
  border-right: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #fff;
}

.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: #fff;
}

.tippy-tooltip.light-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip a {
  font-size: small;
}

.terms {
  color: var(--gray);
}

.terms:active,
.terms:hover,
.terms:focus {
  color: var(--gray2);
  text-decoration: none;
}

.terms-container {
  padding-bottom: 1rem;

  /* col */
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;

  /* .align-items-end  */
  -ms-flex-align: end !important;
  align-items: flex-end !important;

  /* row */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
}

@media screen and (max-width: 992px) {
  .terms-container {
    padding: 20px 0 0;
  }
}
