body,
html {
  height: 100%;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.background-dark,
body {
  background-color: #000;
}

a {
  color: #4e8dff;
}

a:focus,
a:hover {
  color: #4e8dff;
  text-decoration: underline;
  outline: 0;
}

h2 {
  color: #fff;
  font-size: 24px;
}

.dropdown-menu {
  padding: 10px 0;
  font-size: 13px;
  min-width: 180px;
}

.dropdown-menu > li > a {
  padding: 6px 20px;
  color: #2e3436;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
  background-color: #0e0e0e;
}

.navbar {
  min-height: 50px;
  margin-bottom: 0;
}

.navbar-header {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.video-container .video-details a {
  text-decoration: none;
}

.video-list .video a {
  padding: 12px 10px;
  color: #dbdce5;
  display: block;
  border-left: 4px solid transparent;
}

.v-select > .dropdown-menu a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #4e4e4e;
  font-weight: 600;
  padding-left: 14px;
  padding-right: 14px;
}

.navbar-form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0;
}

.navbar-form .form-control {
  border: 0;
  color: #ccc;
  padding-left: 34px !important;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #555;
}

.form-control-feedback {
  color: #565656;
  right: initial;
  top: 11px;
}

.video-list {
  margin-bottom: 0;
}

.video-list li.video:last-child {
  border-bottom: 0;
}

.video-list .video a:hover {
  cursor: pointer;
  border-color: #000;
}

.video-list .video .active {
  background-color: #000;
  border-left: 4px solid #ffec00;
}

.video-list .video .active:hover {
  border-color: #ffec00;
}

.video-list .video a::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.video-list .video .video-thumbnail-image {
  float: left;
  min-height: 40px;
  margin-right: 15px;
  position: relative;
}

.video-list .video-thumbnail-image .video-image {
  max-width: 70px;
}

.video-list .video .video-title {
  float: left;
  width: 230px;
  padding: 0;
}

.video-list .video .video-title h4 {
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  color: white;
}

/* .video-list .video .active .video-title h4 {
} */

.video-list .video .video-thumbnail-image .video-watched {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2px 4px;
  background-color: #1d2122;
  font-size: 8px;
}

.video-list .video .video-title.watched h4 {
  color: #5a5a5a;
}

.navbar-inverse {
  background-color: #0e0e0e;
  border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.navbar-brand {
  padding: 0;
  margin: 0 20px 0 0;
}

.walnut-logo {
  width: 15px;
}

.navbar-nav li {
  cursor: pointer;
  text-transform: uppercase;
}

.header-container {
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  width: 100%;
  display: table;
  padding-left: 0;
  padding-right: 0;
}

.sidebar {
  display: table-cell;
  width: 360px;
}

.main-content {
  width: 100%;
  float: right;
  display: table-cell;
}

.video-container {
  padding: 15px 30px 0;
}

.video-container .video-details {
  margin-bottom: 40px;
  margin-top: 40px;
}

.video-container .video-details .share-icon {
  cursor: pointer;
  width: 20px;
}

.video-container .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pre-scrollable {
  height: 100vh;
  max-height: none;
  overflow-y: scroll;
}

.loading {
  height: 30px;
}

.loadingMessage {
  /* FIXME: this hack so the navbar doesn't jump when hiding/showing the videos and the loading spinner */
  height: 100vh;
  text-align: center;
}

.video-comments {
  padding: 40px 0 0;
  clear: both;
}

[v-cloak] {
  display: none;
}

.card {
  background-color: #fff;
  border: 0;
  height: 100vh;
  text-align: center;
}

.buttons {
  background-size: cover;
  border: none;
  margin: 20px;
  width: 200px;
}

.card-img-top {
  border-radius: 0;
  margin: 0 auto;
  width: 150px;
}

@media (max-width: 992px) {
  .card-img-top {
    width: 100px;
  }
}

.card-title {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

@media (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  body {
    background-color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    display: flex;
  }
}

.v-select {
  height: 35px;
}

.v-select > .dropdown-menu {
  padding: 0;
  background-color: black;
}

.v-select > .dropdown-menu::-webkit-scrollbar {
  width: 0;
}

.v-select > .dropdown-menu > li.highlight {
  background-color: #4e4e4e;
}

.v-select .selected-tag {
  background-color: transparent !important;
  border: 0 !important;
  color: white !important;
  overflow: hidden;
  padding-left: 34px !important;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.v-select .dropdown-toggle {
  border: 0 !important;
}

.v-select .open-indicator {
  display: none !important;
}

.modal-dialog {
  width: 400px;
}

.modal-content {
  background-color: #272727;
  border: 1px solid rgba(115, 115, 115, 0.2);
}

.modal-body textarea {
  overflow: hidden;
  resize: none;
  width: 300px !important;
}
