body,
html {
  height: 100%;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.background-dark,
body {
  background-color: #000;
}

a {
  color: #4e8dff;
}

a:focus,
a:hover {
  color: #4e8dff;
  text-decoration: underline;
  outline: 0;
}

h2 {
  color: #fff;
  font-size: 24px;
}

.btn {
  border-radius: 4px;
}

.btn-secondary {
  background-color: #3d4248;
}

.dropdown-menu {
  padding: 10px 0;
  font-size: 13px;
  min-width: 180px;
}

.dropdown-menu > li > a {
  padding: 6px 20px;
  color: #2e3436;
}

.caret {
  margin-left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
  background-color: #0e0e0e;
}

.navbar {
  min-height: 50px;
  margin-bottom: 0;
}

.navbar-header {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.video-container .video-details a {
  float: left;
  text-decoration: none;
}

.video-list .video a {
  padding: 12px 10px;
  color: #dbdce5;
  display: block;
  border-left: 4px solid transparent;
}

.v-select > .dropdown-menu a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #4e4e4e;
  font-weight: 600;
  padding-left: 14px;
  padding-right: 14px;
}

.navbar-form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0;
}

.navbar-form .form-control {
  background-color: transparent;
  border: 0;
  color: #ccc;
  padding-right: 0;
  padding-left: 34px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #555;
}

.form-control-feedback {
  color: #565656;
  right: initial;
  top: 9px;
}

.video-list {
  margin-bottom: 0;
}

.video-list li.video:last-child {
  border-bottom: 0;
}

.video-list .video a:hover {
  cursor: pointer;
  border-color: #000;
}

.video-list .video .active {
  background-color: #000;
  border-left: 4px solid #ffec00;
}

.video-list .video .active:hover {
  border-color: #ffec00;
}

.video-list .video a::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.video-list .video .video-thumbnail-image {
  float: left;
  min-height: 40px;
  margin-right: 15px;
  position: relative;
}

.video-list .video .video-thumbnail-image .video-duration {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 2px 4px;
  background-color: #1d2122;
  font-size: 9px;
  border-top-left-radius: 3px;
}

.video-list .video-thumbnail-image .video-image {
  max-width: 70px;
}

.video-comments h4 {
  color: #e1e1e1;
}

.video-list .video .video-title {
  float: left;
  width: 230px;
  padding: 0;
}

.video-list .video .video-title h4 {
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  color: white;
}

/* .video-list .video .active .video-title h4 {
} */

.video-list .video .video-thumbnail-image .video-watched {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2px 4px;
  background-color: #1d2122;
  font-size: 8px;
}

.video-list .video .video-title.watched h4 {
  color: #5a5a5a;
}

.navbar-inverse {
  background-color: #0e0e0e;
  border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.navbar-brand {
  padding: 0;
  margin: 0 20px 0 0;
}

.walnut-logo {
  width: 15px;
}

.navbar-right {
  margin-right: 0;
  text-align: right;
  width: 75%;
}

.navbar-right .dropdown {
  float: right;
}

.nav-link {
  color: #dbdce5;
}

.navbar-left .nav-link,
.navbar-right .nav-link {
  line-height: 50px;
}

.navbar .nav-link:focus,
.navbar .nav-link:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-left .dropdown-menu {
  left: 115px;
  top: 80%;
}

.navbar-nav li {
  cursor: pointer;
  text-transform: uppercase;
}

.header-container {
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  width: 100%;
  display: table;
  padding-left: 0;
  padding-right: 0;
}

.sidebar {
  display: table-cell;
  width: 360px;
}

.main-content {
  width: 100%;
  float: right;
  display: table-cell;
}

.modal-header {
  border-bottom: 0;
  padding: 15px;
  min-height: 50px;
}

.modal-content {
  box-shadow: 0;
  border: 0;
  background-color: #2e3436;
  color: #fff;
  border-radius: 3px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-body {
  padding: 0 30px 30px;
}

.modal .close {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  color: #fff;
  text-shadow: none;
}

.modal .close:hover {
  opacity: 1;
}

.modal .close:focus {
  outline: 0;
}

.video-container {
  padding: 15px 30px 0;
}

.video-container .video-details {
  margin-bottom: 40px;
  margin-top: 20px;
}

.video-container .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pre-scrollable {
  height: 100vh;
  max-height: none;
  overflow-y: scroll;
}

.videoPlayer.sticky {
  position: fixed;
  top: 50px;
  right: 0;
  width: 360px;
  z-index: 6;
  padding-bottom: 14.6%;
  height: 202.5px;
  max-width: 100%;
}

.embed-container embed,
.embed-container object,
.videoPlayer.sticky iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 202.5px;
}

.comment-title {
  background-color: #3d494c;
  width: 100%;
  margin: 0;
  color: #e1e1e1;
}

.comment-title span {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.comment-title h5 {
  text-align: center;
  cursor: pointer;
}

.loading {
  height: 30px;
}

.loading-small {
  height: 15px;
}

.loadingMessage {
  text-align: center;
}

.video-comments {
  padding: 40px 0 0;
  clear: both;
}

.video-comments h5:hover {
  color: #fff;
}

.video-comments h1 {
  font-size: 17px;
}

.toggle-icon {
  font-size: 14px;
  cursor: pointer;
}

.loading-comments {
  height: 15px;
}

.comment-body {
  padding-right: 20px;
}

.comment-body blockquote {
  font-size: 13px;
  padding: 5px 10px;
  margin: 0 0 20px;
  border-left: 4px solid #eee;
}

.comment-item {
  background-color: #3d494c;
  color: #e1e1e1;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  list-style: none;
  border-top: 1px solid #2e3436;
  border-left: 1px solid #2e3436;
  border-bottom: 1px solid #2e3436;
  margin-bottom: 10px;
}

.list-group {
  margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
  .main-content,
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .video-container {
    padding: 0;
  }

  .modal-title {
    padding: 0 10px;
  }

  .comment-item a,
  .comment-item table {
    word-wrap: break-word;
  }

  .comment-item table {
    table-layout: fixed;
    width: 100%;
  }

  .comment-name {
    font-size: 16px !important;
  }
}

[v-cloak] {
  display: none;
}

.card {
  background-color: #fff;
  border: 0;
  height: 100vh;
  text-align: center;
}

.buttons {
  background-size: cover;
  border: none;
  margin: 20px;
  width: 200px;
}

.card-img-top {
  border-radius: 0;
  margin: 0 auto;
  width: 150px;
}

@media (max-width: 992px) {
  .card-img-top {
    width: 100px;
  }
}

.card-title {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: center;
}

@media (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  body {
    background-color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    display: flex;
  }
}

.v-select {
  height: 35px;
}

.v-select > .dropdown-menu {
  padding: 0;
  background-color: black;
}

.v-select > .dropdown-menu > li.highlight {
  background-color: #4e4e4e;
}

.v-select .selected-tag {
  position: absolute;
  background-color: transparent !important;
  border: 0 !important;
  color: white !important;
}

.v-select .dropdown-toggle {
  border: 0 !important;
}
